.containerBookDetails {
    width     : 100%;
    margin-top: 2rem;
}

/* --- Table --- */
.tableBookDetails {
    width     : 100%;
    margin-top: 3rem;
}

.thHeaderBookDetails,
.tdBodyBookDetails {
    width     : 20%;
    text-align: center;
    height    : 2rem;
}

.tdBodyBookDetails a:hover {
    text-decoration: underline;
}

.thHeaderBookDetails {
    font            : var(--font-h2);
    background-color: var(--background-color-table-head);
}

.trBodyBookDetails:nth-child(even) {
    background-color: var(--background-color-table-even);
}