.containerBookDetails {
    width     : 100%;
    margin-top: 2rem;
}

.backToHome {
    border       : 1px solid var(--font-color-primary);
    padding      : 0 1rem;
    border-radius: var(--border-radius-primary);
    font         : var(--font-h3);
}

.backToHome:hover {
    background-color: var(--background-color-hover-btn);
    color           : var(--font-color-btn-hover);
}

.titleBookDetails {
    font      : var(--font-h1);
    text-align: center;
}

.bookDetails {
    margin-top   : 2rem;
    max-width    : var(--max-width-details);
    border       : 1px solid var(--font-color-primary);
    border-radius: var(--border-radius-primary);
    padding      : 2rem;
}

.bookDetails span {
    font : var(--font-h3);
    width: 50%;
}

.bookDetailsName {
    text-align: center;
    font      : var(--font-h2) !important;
}

.bookOtherDetails {
    display      : flex;
    margin-top   : 0.8rem;
    margin-bottom: 0.8rem;
}