.switchTheme {
    display      : flex;
    gap          : 0.8rem;
    align-items  : center;
    border       : 1px solid var(--font-color-primary);
    padding      : 0 1rem;
    border-radius: var(--border-radius-secondary);
}

.textSwitchMode {
    font: var(--font-h2);
}